
body {
    background-color: #EAF6;
}
h1 {

  

color: #0000FF;
}

h2{
    color: #0000FF;
}

h3{
    color: #0000FF;
}
h4{
    color: #0000FF;
}
h5{
    color: #0000FF;
}

hr {




    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

